<div class="quicklinks">
						
							

<h2 class="quicklinks"><label id="ctl19_qllab" for="ctl19_quicklinks">Quick links</label></h2>
<select name="ctl19$quicklinks" id="ctl19_quicklinks" onkeypress="return clickButton(event,'ctl19_Button1')">
	<option selected="selected" value="">[select a destination]</option>
	<option value="/about_us/performance/annual_reports.aspx">Annual reports</option>
	<option value="/complaints.aspx">Complaints</option>
	<option value="/for_organisations/data_protection/the_guide/the_principles.aspx">Data protection principles</option>
	<option value="/tools_and_resources/decision_notices.aspx">Decision notices</option>
	<option value="/about_us/how_we_comply/disclosure_log.aspx">Disclosure log</option>
	<option value="/news/events.aspx">Events</option>
	<option value="/Global/faqs.aspx">FAQs</option>
	<option value="/for_organisations/guidance_index.aspx">Guidance index</option>
	<option value="/news/latest_news.aspx">News releases</option>
	<option value="/for_organisations/data_protection/notification.aspx">Notification</option>
	<option value="/for_organisations/data_protection/topic_guides/privacy_by_design.aspx">Privacy by design</option>
	<option value="/for_organisations/data_protection/topic_guides/privacy_notices.aspx">Privacy notices</option>
	<option value="/what_we_cover/register_of_data_controllers.aspx">Register of data controllers</option>

</select>
<input type="submit" name="ctl19$Button1" value="Go" id="ctl19_Button1" tabindex="6" class="button" />

						
</div>



<div id="banner">
		<strong>The ICO would like to place cookies on your computer to help us make this website better. To find out more about the cookies, see our <a href="/Global/privacy_statement.aspx" target="_blank" title="Opens in new window">privacy notice.</a></strong><br />
		<br />
		
		<input id="ctlCookiesBanner_chkAcceptCookie" type="checkbox" name="ctlCookiesBanner$chkAcceptCookie" onclick="return clickButton(event,'ctlCookiesBanner_btnAcceptCookie');" /> <label for="ctlCookiesBanner_chkAcceptCookie">I accept cookies from this site.</label> <input type="submit" name="ctlCookiesBanner$btnAcceptCookie" value="Continue" id="ctlCookiesBanner_btnAcceptCookie" class="button" />
</div>

	<script language="javascript" type="text/javascript">
		if (!navigator.cookieEnabled) {
			var banner = document.getElementById("banner");
			banner.style.display = "none";
		}
	</script>	
